body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.min-vh-100 {
  min-height: 100vh;
}

